
<div class="container"> 
  <div class="row">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
      <a class="navbar-brand" href="#">{{title}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
        </button>
</nav>
</div>
</div>
<form [formGroup]="smsData" (ngSubmit)="onSubmit()" style="margin: 10%;">
  <div class="row">
  <label class="col-md-2">
    Phone Number:
   
  </label>

 
    <ngx-intl-tel-input class="col-md-3"
      [cssClass]="'custom'" 
      [preferredCountries]="preferredCountries"
      [enableAutoCountrySelect]="false" 
      [enablePlaceholder]="true" 
      [searchCountryFlag]="true"
      [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
      [selectFirstCountry]="false" 
      [selectedCountryISO]="CountryISO.India"
      [maxLength]="15" 
      [tooltipField]="TooltipLabel.Name" 
      [phoneValidation]="true" 
      [separateDialCode]="separateDialCode"
      name="TophoneNo" formControlName="TophoneNo">

      
    </ngx-intl-tel-input>
  
</div>
<div class="row" style="margin-top: 1%;">
  <label class="col-md-2">
   Message:
   
  </label>
  <input type="text" class="col-md-3" style="margin-left: 15px;" formControlName="Message" required>
  </div>
  <div class="row" style="margin-top: 1%;">
  <div class="col-md-2"></div>
      <button type="submit" [disabled]="!smsData.valid" style="margin-left: 15px;" class="btn btn-dark col-md-3">Submit</button>
    </div>

</form>
<notifier-container></notifier-container>